<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TenantId" value="" /> <!-- Azure AD Tenant ID for client app registration -->
		<add key="ClientId" value="" /> <!-- Azure AD Application (client) ID -->
		<add key="CertThumbprint" value="" /> <!-- Certificate thumbprint for client authentication -->
		<add key="DynamicsUrl" value="" /> <!-- Dynamics 365 instance URL -->
	</appSettings>
</configuration>